
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>{{hash['name']}}免费下载,{{hash['name'].encode('utf8')}}bt种子免费下载,{{hash['name'].encode('utf8')}}1080P,{{hash['name'].encode('utf8')}}蓝光高清,188BT是世界第一，也是最大的BT磁力搜索网站</title>
<meta name="keywords" content="bt下载论坛提供{{hash['name']}}的磁力链接在线云播,迅雷链接下载,QQ旋风链接下载_同时提供{%for k in randkeywords%}{{k.keyword}}，{%endfor%}等百度和各大电视台黄金剧场热门影视BT磁力,QQ旋风离线,迅雷离线,百度云盘离线下载     /">
<meta name="description" content="{{hash.name}}最新资讯,{{hash.name}}免费下载,{{hash.name}}bt种子免费下载,{{hash.name}}1080P,{{hash.name}}蓝光高清">
<meta name="viewport" content="width=device-width" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='default.css') }}"/>
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
<body>
<div id="wrapper">
<div class="top-bar"><span class="first"><a href="/">种子搜索</a></span>
<select autocomplete="off" onchange="changeLanguage(this.value)">
<option value="KR">한국어</option>
<option value="EN">English</option>
<option value="JP">日本語</option>
<option value="CN" selected>简体中文</option>
<option value="HK">繁體中文</option>
</select>
</div>
<div class="header-div">
<form class="search-form"  action="{{url_for('search')}}" method="POST">
<a href="/" ><img src="{{url_for('static',filename='logo_s.png')}}"  class="nav-logo"/></a>
{{form.hidden_tag()}}
{{form.search(id="search")}}
{{form.submit(class="blue",id="btnSearch")}}
</form>
</div>

<div id="content">
<div id="wall">
<h2>{{hash['name'].encode('utf8')}}</h2>
<div class="detail-panel detail-width">
<table class="detail-table detail-width">
<tbody>
<tr class="detail-header-bg">
<th>文件类型</th>
<th>创建时间</th>
<th>热度</th>
<th>文件大小</th>
</tr>
<tr>
<td>{{hash['category']}}</td>
<td>{{hash['create_time']|todate}}</td>
<td>{{hash['requests']}}</td>
<td>
{% if hash['length']>1073741824 %}
{{(hash['length']/1073741824)|round(2)}}G
{% else %}{{(hash['length']/1048576)|round(2)}}M
{%endif%}
</td>
</tr>
</tbody>
</table>
  
<div class="detail-panel detail-width">
<div class="panel-header">谷歌,百度,360,soso,yahoo,全球搜索排行榜</div>
<div class="panel-body">
{%for k in randkeywords%}
<a href="{{url_for('search_results',query=k.keyword)}}">{{k.keyword}}&nbsp;&nbsp;</a>
{%endfor%}
</div>
</div>
  
<div class="detail-panel detail-width">
<div class="panel-header">磁力链接</div>
<div class="panel-body">
<a href="magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}">magnet:?xt=urn:btih:{{hash['info_hash'] | upper}}</a>
</div>
</div>

<div class="detail-panel detail-width">
<div class="panel-header">关键词标签：</div>
<div class="panel-body">
{%for fenci in fenci_list%}
<a href="{{url_for('search_results',query=fenci)}}">{{fenci.encode('utf8')}}</a>&nbsp;&nbsp;
{%endfor%}
</div>
</div>

<div class="detail-panel detail-width">
<div class="panel-header">友情提示</div>
<div class="panel-body">
<p>{{hash.name}}最新资讯,{{hash.name}}免费下载,{{hash.name}}bt种子免费下载,{{hash.name}}1080P,{{hash.name}}蓝光高清</p>
<p>本站已经屏蔽了99%的非法链接，若本链接侵犯你的权利，请联系下面的邮箱进行举报！ </p>
<p>亲，你造吗？将网页分享给您的基友，下载的人越多速度越快哦！</p>
</div>
</div>

<div class="detail-panel detail-width">
<div class="panel-header">
投诉异议
</div>
<div class="panel-body">
<p>
版权投诉 Email：<a class="__cf_email__"  >tousu@baidu.com</a>
</p>
</div>
</div>
</div>
<div class="push">
</div>
</div>
</div>
</div>
<div class="footer">
<span><a href="#">纸上烤鱼</a></span> | <span><a href="#">种子搜索</a></span> | <span><a href="#">磁力链接</a> | <script language="javascript" src="http://count5.51yes.com/click.aspx?id=50389886&logo=12" charset="gb2312"></script></span>
</div>

<script charset="gbk" type="text/javascript" src="//www.baidu.com/js/opensug.js"></script>
<script type="text/javascript">
        var params = { "XOffset": 0, "YOffset": 0, "fontColor": "#444", "fontColorHI": "#000", "fontSize": "16px", "fontFamily": "arial", "borderColor": "gray", "bgcolorHI": "#ebebeb", "sugSubmit": false };
        BaiduSuggestion.bind("search", params);
    </script>
</body>
</html>
