<!DOCTYPE html>
<html>
<head>
<meta name="baidu-site-verification" content="P1QzNDXk6x"/>
<meta charset="utf-8"/>
<title>188BT提供全世界24小时以内搜索排行榜上的bt种子下载</title>
<meta name="keywords" content="188BT提供全世界24小时以内搜索排行榜上的bt种子下载,提供{%for k in randkeywords%}{{k.keyword}}，{%endfor%}等百度和各大电视台黄金剧场热门影视BT磁力,QQ旋风离线,迅雷离线,百度云盘离线下载">
<meta name="description" content="188BT提供全世界24小时以内搜索排行榜上的bt种子下载,列如：{%for k in randkeywords%}{{k.keyword}}，{%endfor%}等等...">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='default.css') }}"/>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='ciliss_apple.jpg') }}"/>
</head>
<body>
<div id="wrapper">
<div class="top-bar"><span class="first"><a href="/">种子搜索</a></span>
<select autocomplete="off" onchange="changeLanguage(this.value)">
<option value="KR">한국어</option>
<option value="EN">English</option>
<option value="JP">日本語</option>
<option value="CN" selected>简体中文</option>
<option value="HK">繁體中文</option>
</select>
</div>
<div id="first-content">
<div id="center-box-wrapper">
<div id="center-box">
<div id="center-logo">
<a href="/"><img src="{{ url_for('static', filename='logo.png') }}" alt="纸上烤鱼"/></a>
<p><h1>纸上烤鱼-最快的磁力链接搜索引擎</h1></p>
</div>
<div id="search-box">
<form id="search-form" action="{{url_for('search')}}" method="POST">
{{form.hidden_tag()}}
{{form.search(id="search")}}
{{form.submit(class="blue",id="btnSearch")}}
</form>
<div class="info-box">
<ul>
{%for k in randkeywords%}
<li><a href="{{url_for('search_results',query=k.keyword)}}">{{k.keyword}}</a></li>
{%endfor%}
</ul>

<p style="color:#000000; margin-top:10px;">总收录{{total}}条数据</p>
</div>
</div>
</div>
</div>
</div>
<div class="push"></div>
</div>
<div class="footer">
<span><a href="#">纸上烤鱼</a></span> | <span><a href="#">种子搜索</a></span> | <span><a href="#">磁力链接</a></span>
</div>
<script charset="gbk" type="text/javascript" src="http://www.baidu.com/js/opensug.js"></script>
<script type="text/javascript">
             var params = { "XOffset": 0, "YOffset": 0, "fontColor": "#444", "fontColorHI": "#000", "fontSize": "16px", "fontFamily": "arial", "borderColor": "gray", "bgcolorHI": "#ebebeb", "sugSubmit": false };BaiduSuggestion.bind("search", params);
       </script>
</body>
</html>

