
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>为您找到关于{{query}} 的BT,迅雷下载链接一共有 {{counts}} 条,谷歌,百度,360,soso,yahoo,全球搜索排行榜{%for k in randkeywords%}{{k.keyword}},{%endfor%},188BT是世界第一，也是最大的BT磁力下载搜索社区</title>
<meta name="keywords" content="188BT提供全世界24小时以内搜索排行榜上的bt种子下载,列如{{query}}的磁力链接在线云播,迅雷链接下载,QQ旋风链接下载_同时提供{%for k in randkeywords%}{{k.keyword}}，{%endfor%}等百度和各大电视台黄金剧场热门影视BT磁力,QQ旋风离线,迅雷离线,百度云盘离线下载">
<meta name="description" content="188BT提供全世界24小时以内搜索排行榜上的bt种子下载,列如：{%for k in randkeywords%}{{k.keyword}}，{%endfor%}等等...">
<meta name="viewport" content="width=device-width"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='default.css') }}"/>
<script src="//cdn.bootcss.com/moment.js/2.18.1/locale/zh-cn.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.18.1/moment.js"></script>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<link rel="shortcut icon" type="image/x-icon" href="//dg12.qiniudn.com/favicon.ico"/>
</head>
<body>
<div id="wrapper">
<div class="top-bar"><span class="first"><a href="/">种子搜索</a></span>
<select autocomplete="off" onchange="changeLanguage(this.value)">
<option value="KR">한국어</option>
<option value="EN">English</option>
<option value="JP">日本語</option>
<option value="CN" selected>简体中文</option>
<option value="HK">繁體中文</option>
</select>
</div>
<div class="header-div">
<form class="search-form"  action="{{url_for('search')}}" method="POST">
<a href="/" ><img src="//dg12.qiniudn.com/btlogo_s.png"  class="nav-logo"/></a>
{{form.hidden_tag()}}
{{form.search(id="search")}}
{{form.submit(class="blue",id="btnSearch")}}
</form>

</div>
<div id="content">
<div id="wall">
<div class="search-statu">
<span>找到 {{counts}} 条关于 {{query}} 的结果<br></span>
</div>
<div class="adsense" style="position:relative"></div>
<div class="col-md-8">
{% for hash in hashs %}  
<div class="search-item detail-width">
<div class="item-title">
<h3><a title="{{hash['name'].encode('utf8')}}" href="{{url_for('detail',id=hash.id)}}" >{{hash['name'].encode('utf8')}}</a></h3>
</div>
  <div class="item-list"></div>
<div class="item-bar">
<span>时间：<b>{{ hash['last_seen']|todate }}</b></span>
<span>大小：<b>
{% if hash['length']>1073741824 %}
<b class="cpill yellow-pill">{{(hash['length']/1073741824)|round(2)}}G</b>
{% else %}<b class="cpill blue-pill">{{(hash['length']/1048576)|round(2)}}M</b>
{%endif%}</span>
<span>{{hash['requests']}} 人撸过</span>
</div>
</div>
{% endfor %} 
<div class="bottom-pager detail-width">
{% set prev_pages = page-4 if page>5 else 1 %}
{% set next_pages = page+5 if page+5<=pages else pages%}
    {%if pages<10%}
{%if page==1%}
<span>上一页</span>
{%else%}
<a href="{{ url_for('search_results', query=query,page=page-1 )}}">上一页</a>
{%endif%}
{%for i in range(1,pages+1)%}
<a href="{{ url_for('search_results', query=query,page=i) }}">{{i}}</a>
{%endfor%}
{%if page<pages%}
<a href="{{ url_for('search_results', query=query,page=page+1) }}">下一页</a>
{%else%}
<span>下一页</span>
{%endif%}    
    {%else%}
{%if page==1%}
<span>上一页</span>
{%else%}
<a href="{{ url_for('search_results', query=query,page=page-1 )}}">上一页</a>
{%endif%}
{%for i in range(prev_pages,page)%}
<a href="{{ url_for('search_results', query=query,page=i) }}">{{i}}</a>
{%endfor%}
<a href="#">{{page}}</a>
{%for i in range(page+1,next_pages+1)%}
<a href="{{ url_for('search_results', query=query,page=i) }}">{{i}}</a>
{%endfor%}
{%if page<pages%}
<a href="{{ url_for('search_results', query=query,page=page+1) }}">下一页</a>
{%else%}
<span>下一页</span>
{%endif%}
    {%endif%}
</div>
</div>
<div class="col-md-2">
<div class="search-notice sidebar-width">谷歌,百度,360,soso,yahoo,全球搜索排行榜</div>
<div id="latest-search" class="sidebar-width">
{%for k in randkeywords%}
<span><a href="{{url_for('search_results',query=k.keyword)}}"><b class="cpill blue-pill">{{k.keyword}}</b></a></span>
{%endfor%}
</div>
</div>
</div>
</div>
<div class="push">
</div>
</div>
<div class="footer">
<span><script language="javascript" src="http://count5.51yes.com/click.aspx?id=50389886&logo=12" charset="gb2312"></script></span>
</div>
<script charset="gbk" type="text/javascript" src="//www.baidu.com/js/opensug.js"></script>
<script type="text/javascript">
             var params = { "XOffset": 0, "YOffset": 0, "fontColor": "#444", "fontColorHI": "#000", "fontSize": "16px", "fontFamily": "arial", "borderColor": "gray", "bgcolorHI": "#ebebeb", "sugSubmit": false };BaiduSuggestion.bind("search", params);
       </script>
</body>
</html>
